<section>
    <div *ngFor="let question of questions">
        <h2>{{question.question}}</h2>
        <ng-container *ngIf="question.type == 'paragraph'">
            <div *ngFor="let answer of question.answers">
                <p>{{answer.answerValue}}</p>
            </div>
        </ng-container>
        <ng-container *ngIf="question.type == 'checkbox'">
            <div *ngFor="let answer of question.answers">
                <mat-checkbox disabled="true" [checked]="answer.answerValue">{{answer.answerText}}</mat-checkbox>
            </div>
        </ng-container>
    </div>
</section>

<div class="flex justify-content-between button-wrapper">
    <a 
        [routerLink]="['/question/builder']" 
        routerLinkActive="active"  
        mat-flat-button 
        color="primary"
    >
        Back to Form builder
    </a>
</div>